.img-background {
  background-image: url("../images/vector-clover-leaf-seamless-background.webp");
  background-attachment: fixed;
  background-size: 50%;
}
.fonce {
  opacity: 5%;
}
.fonce-1 {
  background-color: #dcdcdc;
}
